header {
    height: 50px;
    border-bottom: 1px black solid;
    box-shadow: 0 2px 2px #bbbbbb;
    text-align: center;
    z-index: 10;
}

button {
    position: absolute;
    top: 22px;
    left: 10%;
    background-color: lightgray;
}