.container {
    width: 80%;
    margin: auto;
}

.card {
    list-style-type: none;
    border: 1px black solid;
    border-radius: 10px;
    height: 60px;
    margin-top: 30px;
}

img {
    height: 50px;
    margin: 5px 10px;
}

p {
    display: inline-block;
}